header {
  margin: 0px;
  padding: 0px;
  background-color: grey;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  border: 2px solid black;
}

.Logo {
  margin-right: 20px;
}

.Logo img {
  width: 50px;
  border-radius: 5px;
  margin-top: 5px;
}

nav a {
  margin-right: 20px;
}

.search-container {
  flex: 1;
}

header a {
  padding: 5px 12px;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}

header a:hover {
  color: black;
  text-decoration: underline;
}

h1 {
  margin-top: 10px;
  font-size: 2.8em;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 5px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

.ropa-hombre {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.ropa-hombre p {
  font-size: 15px;
}

.ropa-hombre img {
  border-radius: 0px;
  height: 400px;
  width: 350px;
}

.ropa-hombre button{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 20px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    margin-left: 100px;
    margin-top: 0px;
}

.ropa-hombre button:hover{
    background-color: gray;
}

#Reseña h2{
    font-family: "Roboto Condensed", sans-serif;
}

#Reseña {
    background-color:  rgba(255, 234, 26, 0.8);
    padding: 10px;
}

footer{
    background-color: rgba(0, 0, 0, 0.67);
    padding-bottom: 0px;
    text-align: center;
}

.copyright{
    padding: 10px;
    margin: 0px;
    color: rgba(255, 249, 252, 0.48);
    text-align: center;
    justify-content: center;
}

.terminos a{
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    color: rgba(255, 249, 252, 0.48);
    padding: 10px;
    font-size: 0.8em;
    margin-top: 5px;
}

.copyright p{
    margin: 0px;
    font-size: 0.8em;
}

.terminos{
    padding-top: 10px;
}

#ropa-de-hombre h2{
  font-family: "Roboto Condensed", sans-serif;
}
