header{
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
}

h1{
    font-size: 2.8em;
    font-family: "Roboto Condensed", sans-serif;
}

h2{
    font-size: 2em;
    font-family: "Roboto Condensed", sans-serif;
}

p{
    font-size: 1.5em;
    font-family: "Roboto Condensed", sans-serif;
}

.contenedor{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin: auto;
}

.logo{
    padding: 5px 30px;
}

.logo img{
    width: 50px;
}

header a{
    padding: 5px 12px;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family:"Roboto Condensed", sans-serif;
}

header a:hover{
    color: black;
    text-decoration: underline;
}