#historia{
    background-color: rgba(212, 210, 211, 0.8);
}

.historias1 p{
    font-size: 1em;
    margin-top: 5px;
    font-family: "Roboto Condensed", sans-serif;
}

.historias1 h3{
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0px;
    padding-top: 15px;
    text-align: center;
    font-size: 1.8em;
}

.ultim-parrafo{
    padding-bottom: 15px;
    margin-bottom: 0px;
}


