#hero {
    display: block;
    justify-content: center;
    align-items: center;  
    padding-top: 15px;
    background-color: #6495ed;
    height: 70vh;
    color: white;
    background-image: url(Assets/hero2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#hero h1{
    margin-left: 30px;
    margin-top: 150px;
}

p{
    margin: 30px;
}

#hero button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-left: 30px;
}

#hero button:hover{
    background-color: gray;
}